<% content_for :main do %>
<br/>

<div class="form-horizontal" id="controls">
	<div id="api-bot-toggle">
		<strong id="api-stuff-toggle" data-which="api-stuff" class="container-toggle">API Stuff</strong><strong id="bot-stuff-toggle" data-which="bot-stuff" class="container-toggle off">Bot Stuff</strong>
	</div>
	<div class="control-container" id="api-stuff">
		<div class="action-header" id="about-user-header"><span class="panel-expand tips" title="click to expand"></span><h3 class="tips" title="Get general info about a user">Learn about user</h3></div>
		<div class='clearfix action-content off' id='about-user'>
			<input type="text" id="about-user-input" class="request-field" data-field="username" placeholder="username..."></input>
			<button id="about-user-submit" class="content-submit" data-url="get_account_info">Submit</button> <img class="loader" src="/assets/loader.gif" style="display: none;"/>
		</div>

		<div class="action-header" id="reddit-login-header"><span class="panel-expand tips" title="click to expand"></span><h3>Log in to Reddit</h3></div>
		<div class="clearfix action-content off" id="login-to-reddit">
			<label for="reddit-username">Username: <input type="text" class="request-field" id="reddit-username" data-field="username" placeholder="username..."></input></label>
			<label for="reddit-password">Password: <input type="password" class="request-field" id="reddit-password" data-field="password" placeholder="password..."></input></label>
			<button id="reddit-login-submit" data-url='login_reddit' class="content-submit">Submit</button> <img class="loader" src="/assets/loader.gif" style="display: none;"/>
		</div>

		<div class="action-header" id="about-me-header"><span class="panel-expand tips" title="click to expand"></span><h3>About me</h3></div>
		<div class="clearfix action-content off" id="about-me">
			<button id="about-me-submit" data-url='about_me' class="content-submit">Submit Request</button> <img class="loader" src="/assets/loader.gif" style="display: none;"/>
		</div>

		<div class="action-header" id="show-subreddit-header"><span class="panel-expand tips" title="click to expand"></span><h3>Subreddits</h3></div>
		<div class="clearfix action-content off" id="show-subreddit">
			<label for="subreddit-name">Subreddit: <input type="text" class="request-field" id="subreddit-name" data-field="target" placeholder="subreddit name..."></label>
			<label for="item-limit">Num items to show: <input type="number" class="request-field" id="item-limit" data-field="limit" placeholder="ex: 25"></label>
			<button id="show-subreddit-submit" data-url="show_subreddit" class="content-submit">Show Subreddit</button> <img class="loader" src="/assets/loader.gif" style="display: none;"/>
		</div>
		<div class="action-header" id="get-user-comments-header"><span class="panel-expand tips" title="click to expand"></span><h3>Show User Comments</h3></div>
		<div class="clearfix action-content off" id="get-user-comments">
			<label for="username">Username: <input type="text" class="request-field" id="username-comments" data-field="username" placeholder="username..."></label>
			<label for="item-limit">Num comments to show: <input type="number" class="request-field" name="limit" id="item-limit" data-field="limit" placeholder="ex: 25"></label>
			<button id="get-user-comments-submit" data-url="get_user_comments" class="content-submit">User Comments</button> <img class="loader" src="/assets/loader.gif" style="display: none;"/>
		</div>
		<div class="action-header" id="get-user-overview-header"><span class="panel-expand tips" title="click to expand"></span><h3>Show User Overview</h3></div>
		<div class="clearfix action-content off" id="get-user-overview">
			<label for="username">Username: <input type="text" class="request-field" id="username-overview" data-field="username" placeholder="username..."></label>
			<button id="get-user-overview-submit" data-url="get_user_overview" class="content-submit">User Overview</button> <img class="loader" src="/assets/loader.gif" style="display: none;"/>
		</div>
		<div class="action-header" id="bulk-collect-data-header"><span class="panel-expand tips" title="click to expand"></span><h3>Collect Data From</h3></div>
		<div class="clearfix action-content off" id="get-data-from">
			<label for="bulk-users" class="tips" title="Enter a list of comma-separated usernames to collect data from.">Users: <textarea name="" id="bulk-users" cols="80" rows="5" type="text" class="request-field" data-field="usernames" placeholder="ex: user1, user2, user3"></textarea></label>
			<label for="bulk-subreddits" class="tips" title="Enter a list of comma-separated subreddits to collect data from. No need for '/r'">Users: <textarea name="" id="bulk-subreddits" cols="80" rows="5" type="text" class="request-field" data-field="subreddits" placeholder="ex: pics, sloths, pyongyang"></textarea></label>
			<button id="bulk-collect-data-submit" data-url="bulk_collect_user_data" class="content-submit">Collect Data</button> <img class="loader" src="/assets/loader.gif" style="display: none;"/>
		</div>
	</div>
	<div class="control-container off" id="bot-stuff">
		<div class="action-header" id="set-bot-header"><span class="panel-expand tips" title="Choose which bot to use"></span><h3>Select Bot</h3></div>
		<div class="clearfix action-content off" id="set-bot">
			<%= render :partial => 'layouts/bots_list' %>
		</div>

		<div class="action-header off" id="create-bot-header"><span class="panel-expand tips" title="Create a new bot to post with"></span><h3>Create Bot</h3></div>
		<div class="clearfix action-content off" id="create-bot">
			<label for="bot-name" class="tips" title="Give your bot a unique name">Name: <input type="text" id="bot-name" class="request-field" data-field="name" placeholder="name..."></label>
			<label for="bot-type" class="tips" title="Give an adjective describing this bot's behavior. e.g. friendly">Type: <input type="text" id="bot-type" class="request-field" data-field="bot_type" placeholder="type..."></label>
			<label for="bot-desc" class="tips" title="Give a description of your bot.">Description: <textarea name="" id="bot-desc" cols="80" rows="5" class="request-field" data-field="description" placeholder="description..."></textarea></label>
			<label for="account-email" class="tips" title="The password associated with this bot's reddit account. Optional">E-Mail: <input type="email" id="account-email" class="request-field" data-field="email" placeholder="email"></label>
			<label for="account-passwd" class="tips" title="This bot's reddit account password">Passwd <input type="password" id="account-passwd" class="request-field" data-field="passwd"></label>
			<label for="account-passwd2" class="tips" title="Confirm the password">Passwd <input type="password" id="account-passwd2" class="request-field" data-field="passwd2"></label>
			<button data-url="bots/create" data-action-type="POST" class="content-submit">Create Bot</button> <img class="loader" src="/assets/loader.gif" style="display: none;"/>
		</div>

		<div class="action-header" id="perform-search-header"><span class="panel-expand tips" title="click to expand"></span><h3>Perform Lookup</h3></div>
		<div class="clearfix action-content off" id="perform-search">
			<label for="article-id" class="tips" title="id of an article">Article: <input type="text" id="article-id" class="request-field" data-field="article" placeholder="article id..."></label>
			<label for="comment-id" class="tips" title="ID of a comment">Comment: <input type="text" id="comment-id" class="request-field" data-field="comment" placeholder="comment id..."></label>
			<label for="context-id" class="tips" title="Given context">Context: <input type="text" id="context-id" class="request-field" data-field="context" placeholder="context..."></label>
			<label for="limit" class="tips" title="Num items to show. Default: 25. Max: 100">Num Items to Show: <input type="number" name="limit" class="request-field" data-field="limit"></label>
			<label for="sort-criteria" class="tips" title="Define the search criteria.">Sort by: <select name="" id="sort-criteria" class="request-field" data-field="sort">
				<option value="top">top</option>
				<option value="hot">hot</option>
				<option value="controversial">controversial</option>
				<option value="new">new</option>
				<option value="confidence">confidence</option>
				<option value="random">random</option>
				<option value="old">old</option>
			</select></label>
			<button data-url="bots/submit_request" class="content-submit">Submit</button>  <img class="loader" src="/assets/loader.gif" style="display: none;"/>
		</div>
	</div>
</div>

<div class="form-horizontal" id="output">
	
</div>

<script>
	rbots.landing();
</script>
<% end %>